GoodBoye.xcworkspace/contents.xcworkspacedata
GoodBoye.xcworkspace/xcuserdata/Envoy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DerivedData
GoodBoye.xcodeproj/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
